.advantages {
	background: url(../img/expirience-bottom.svg) no-repeat;
	background-size: cover;
	min-height: 881px;
}
.advantages__inner {
	max-width: 1192px;
	margin: 0 auto;
	padding: 69px 0 0 0;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 32px;
	grid-row-gap: 52px;
}
.advantages__item-head {
	display: flex;
	align-items: center;
}
.advantages__img {
	max-width: 68px;
	height: 79.5px;
	margin: 0 18px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.advantages__heading {
	margin: 4px 0 0 0;
}
.advantages__item-descr {
	margin: 2px 0 0 86px;
	font-size: 14px;
	line-height: 17px;
	max-width: 450px;
}