.indicator {
	position: fixed;
	z-index: 3900;
	left: 80px;
	top: 50%;
	transform: translateY(-50%);
}
.indicator__dot--top,
.indicator__dot--bottom {
	width: 2px;
	height: 2px;
	background: #000000;
	position: absolute;
	left: 0px;
	z-index: 2;
}
.indicator__dot--top {
	top: 0px;
}
.indicator__dot--bottom {
	bottom: -0px;
}
.indicator__item {
	position: relative;
	height: 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	padding: 0 0 0 14px;
	&:not(:first-child) {
		& .indicator__dot--top {
			display: none;
		}
	}
	&:before {
		content: '';
		width: 1px;
		height: 51px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: #b3b3b3;
	}
	&.active:before {
		background: #000000;
	}
}
.indicator__item-text {
	opacity: 0;
	visibility: hidden;
	transform: translateY(0px);
	transition: .3s linear;
	font-size: 12px;
	color: #000000;
	position: absolute;
	left: 15px;
	bottom: 13px;
	white-space: nowrap;
	&.active {
		opacity: 1;
		visibility: visible;
		transform: translateY(11px);
		transition: .3s linear;
	}
}
.indicator__item-number {
	color: #b3b3b3;
	position: relative;
	&:before {
		content: '';
		width: 2px;
		height: 2px;
		background: #000000;
		position: absolute;
		left: -14px;
		top: 50%;
		transform: translateY(-50%);
		opacity: 1;
	}
	&.active {
		color: #000000;
		&:before {
			content: '';
			width: 8px;
			height: 1px;
			background: #000000;
			position: absolute;
			left: -14px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.indicator__mobile-box {
	display: none;
}
@media screen and (max-width: 1550px) {
	.indicator {
		display: none;
	}
}
@media screen and (max-width: 1023px) {
	.indicator {
		display: block;
		left: auto;
		transition: right .5s linear;
		right: -100%;
		top: 0px;
		transform: none;
		background: #37455C;
		width: 100%;
		height: 100vh;
		overflow: auto;
		padding: 88px 15px 20px 38px;
		&.active {
			transition: right .5s linear;
			right: 0px;
		}
	}
	.indicator__item-text {
		visibility: visible;
		opacity: 1;
		font-size: 20px;
		font-family: 'Gotham Pro Medium';
		position: static;
		color: #fff;
		&.active {
			transform: none;
		}
	}
	.indicator__item-number {
		display: none;
	}
	.indicator__item {
		height: auto;
		padding: 0;
		margin: 0 0 20px 0;
		&:last-child {
			margin: 0;
		}
	}
	.indicator__item:before {
		display: none;
	}
	.indicator__dot--top,
	.indicator__dot--bottom {
		display: none;
	}
	.indicator__mobile-box {
		display: flex;
		color: #fff;
		& .header__contacts {
			align-items: center;
			margin: 0;
		}
		& .header__contacts a {
			color: #fff;
		}
		& .write-us {
			display: inline-block;
			margin: 0 15px 0 0;
		}
	}
	.indicator__mobile-box .header__contacts-item:not(:last-child) {
		display: inline-block;
	}
	.indicator__mobile-box .header__contacts-item:last-child {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.indicator__mobile-box {
		& .header__contacts {
			flex-direction: column;
			align-items: flex-start;
			margin: 0;
		}
		& .write-us {
			margin: 0 0 7px 0;
		}
	}
}
@media screen and (max-width: 413px) {
	.indicator__mobile-box .header__contacts-item:last-child {
		display: inline-block;
	}
	.indicator__mobile-box .header__contacts-link.phone {
		display: inline-block;
		margin: 7px 0 0 0;
		background: url(../img/sprite.svg#garniture-white) no-repeat left -12px top 0;
	}
	.indicator {
		padding: 80px 15px 20px 15px;
	}
}