.metering {
	min-height: 278px;
	max-width: 1198px;
	margin: 0 auto;
	position: relative;
	left: 8px;
	background: url(../img/metering-bg.svg);
	background-size: 100% 100%;
	padding: 33px 128px 0 369px;
	color: #fff;
	z-index: 3;
	& img {
		position: absolute;
		left: -29px;
		top: -108px;
	}
}
.metering__heading {
	margin: 0 0 49px 0;
}
.metering__form {
	display: flex;
	font-family: 'Gotham Pro Medium';
	font-size: 16px;
	margin: 0 0 43px 0;
	max-height: 70px;
}
.phone__input {
	padding: 20px 15px 19px 50px;
	margin: 0 39px 0 0;
	width: 310px;
	border-radius: 3px;
	background: #2e3a4d url(../img/sprite.svg#icon-phone) no-repeat left 1px top 50%;
	background-size: 50px 53px;
	height: 100%;
	color: #fff;
}
.phone__input::-webkit-input-placeholder { 
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.phone__input:-moz-placeholder { 
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.phone__input::-moz-placeholder {
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.phone__input:-ms-input-placeholder {
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.phone__input::-ms-input-placeholder {
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.phone__input::placeholder {
	color:    #fff;
	opacity:  .5;
	font-size: 16px;
}
.metering__btn {
	padding: 17px 45px 17px 22px;
	color: #fff;
	width: 310px;
	font-size: 16px;
	text-align: left;
	position: relative;
	&:after {
		content: url(../img/sprite.svg#arrow);
		width: 32px;
		height: 12px;
		position: absolute;
		right: 11px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.metering__descr {
	line-height: 17px;
	font-size: 14px;
}
@media screen and (max-width: 1560px) {
	.metering {
		left: 0;
	}
}
@media screen and (max-width: 1170px) {
	.metering {
		padding: 33px 62px 29px 369px;
	}
}
@media screen and (max-width: 1023px) {
	.metering__form {
		flex-direction: column;
		max-height: none;
		margin: 0 0 29px 0;
	}
	.metering__heading {
		margin: 0 0 35px 0;
	}
	.phone__input {
		margin: 0 0 17px 0;
	}
	.phone__input,
	.metering__btn {
		width: 90%;
	}
}
@media screen and (max-width: 769px) {
	.metering img {
		top: -44px;
		left: 50%;
		transform: translateX(-50%);
	}
	.metering {
		padding: 425px 21px 29px 21px;
		margin: -85px 0 0 0;
		background: url(../img/metering-bg-mobile.svg) no-repeat;
		background-size: cover;
		text-align: center;
	}
	.metering__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: -101px 0 0 0;
		position: relative;
		z-index: 2;
	}
	.metering__form {
		width: 100%;
		align-items: center;
	}
	.input__metering-box {
		width: 100%;
	}
	.drilling__advantages {
		font-size: 22px;
		line-height: 26.4px;
	}
}
@media screen and (max-width: 413px) {
	.metering img {
		width: 350px;
	}
	.metering {
		padding: 357px 21px 29px;
	}
	.metering__btn,
	.phone__input {
		width: 100%;
		font-size: 12px;
	}
	.phone__input::-webkit-input-placeholder { 
		font-size: 12px;
	}
	.phone__input:-moz-placeholder { 
		font-size: 12px;
	}
	.phone__input::-moz-placeholder {
		font-size: 12px;
	}
	.phone__input:-ms-input-placeholder {
		font-size: 12px;
	}
	.phone__input::-ms-input-placeholder {
		font-size: 12px;
	}
	.phone__input::placeholder {
		font-size: 12px;
	}
	h1 {
		font-size: 25px;
		line-height: 23px;
	}
}