h1 {
	font-family: 'Gotham Pro Bold';
	font-size: 75px;
	line-height: 84px;
	text-transform: uppercase;
	margin: 0 0 54px 56px;
}
h4 {
	font-size: 22px;
	font-family: 'Gotham Pro Medium';
}
h5 {
	font-size: 20px;
	line-height: 24px;
	font-family: 'Gotham Pro Medium';
}
html.lock {
	overflow: hidden;
}
.blue-text {
	color: #005AFF !important;
}
.white-text {
	color: #fff;
}
.blue__btn {
	background: #005AFF;
	border-radius: 3px;
}
.heading {
	font-family: 'Gotham Pro Bold';
	text-transform: uppercase;
}
.heading__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.heading-top {
	font-size: 45px;
}
.heading-body {
	font-size: 75px;
}
.subheading {
	font-size: 24.2748px;
	line-height: 29px;
	font-family: 'Gotham Pro Medium';
}

@import './nullstyle.scss';
@import './font.scss';
@import './block/header.scss';
@import './block/drilling.scss';
@import './block/metering.scss';
@import './block/expirience.scss';
@import './block/advantages.scss';
@import './block/compare.scss';
@import './block/tech.scss';
@import './block/quality.scss';
@import './block/guarantees.scss';
@import './block/result.scss';
@import './block/prices.scss';
@import './block/deadlines.scss';
@import './block/stages.scss';
@import './block/footer.scss';
@import './block/indicator.scss';

@media screen and (max-width: 1560px) {
	.heading-top {
		font-size: 40px;
	}
	.heading-body {
		font-size: 50px;
	}
}
@media screen and (max-width: 769px) {
	.heading-top {
		font-size: 26px;
	}
	.heading-body {
		font-size: 40px;
	}
	.subheading {
		font-size: 14px;
		line-height: 16.8px;
	}
}
@media screen and (max-width: 413px) {
	.heading-body {
		font-size: 35px;
	}
}